/*Main Styling*/

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(rgb(64, 156, 72), rgb(31, 129, 146));
  color: white;
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

h3 {
  margin-bottom: 0.2rem;
}

input {
  height: 2rem;
  padding: 0.2rem;
  font-size: 1rem;
}

select {
  height: 2.65rem;
  padding: 0.2rem;
  font-size: 1rem;
}

/*Form Component Styling*/

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.expenseBtn {
  margin-top: 2rem;
  background-color: #f8f9fa;
  width: 15rem;
  height: 2rem;
}

.lineBreak {
  width: 100%;
}
