/*Main Styling*/

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(rgb(64, 156, 72), rgb(31, 129, 146));
  color: white;
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

h3 {
  margin-bottom: 0.2rem;
}

input {
  height: 2rem;
  padding: 0.2rem;
  font-size: 1rem;
}

select {
  height: 2.65rem;
  padding: 0.2rem;
  font-size: 1rem;
}

/*Form Component Styling*/

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*Filter Component Styling*/

.filterContainer {
  display: flex;
}

.nameFilter {
  margin-left: 2.9rem;
  margin-right: 2rem;
}

.categoryFilter {
  margin-right: 2rem;
}

/*Buttons*/

.filterBtn {
  margin-top: 2.15rem;
  margin-right: 1rem;
  width: 5rem;
  height: 2rem;
  background-color: #f8f9fa;
}

.resetBtn {
  margin-top: 2.15rem;
  margin-right: 1rem;
  width: 5rem;
  height: 2rem;
  background-color: #f8f9fa;
}

.expenseBtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #f8f9fa;
  width: 15rem;
  height: 2rem;
}

.lineBreak {
  width: 100%;
}

/* Table Styling */

.tableContainer,
.expenseRow {
  display: flex;
  margin-left: 2.95rem;
  margin-top: 2rem;
  flex-direction: column;
}

table,
td,
th {
  border: 1px solid black;
  font-size: 5rem;
}

td {
  font-size: 1.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

th {
  font-size: 1.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: black;
  background-color: white;
}
